.select {
    display: flex;
}
.select2 {
    width: 10%;
    height: 5%;
    margin-top: 17px;
    margin-left: 10px;
    border-radius: 7px;
}
table, td, th {
    border: 1px solid;
  }
  
table {
    border-collapse: collapse;
    width: 17%;
}
.tr {
    background-color: #b3b3b3;
}

a:link, a:visited {
    background-color: #b3b3b3;
    color: white;
    text-decoration: none;
    display: flex;
    height: 50px;
    width: 100px;
}
  
a:hover, a:active {
    background-color: #6b6b6b;
}

.Convert{
    display: flex;
}

.amount, .from, .to{
    margin-right: 10px;
}
.btn{
    margin-top: 90px;
}
select, input{
    width: 100px;
    border-radius: 7px;
}


.result{
    margin-top: 90px;
    margin-left: -335px;
}

.InputForm{
    margin-top: 10px;
    margin-left: 10px;
}

.btnlog{
    margin-top: 10px;
    margin-left: 10px;
}